*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;  
    font-family: 'Barlow', sans-serif;
    color: #2A4A5C;
}


ul,
p,
h1,
h3 { padding: 0;
    margin: 0;
}

li {
    cursor: pointer;
    list-style: none;
}

.container {
    max-width: 1440px;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    background-color: #EFF6FF;
    padding: 80px 50px;
}

.logo {
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    flex-basis: 60%;
    padding-top: 40px;
    padding-left: 50px;
}

.main {
    background-color: #FFFFFF;
    padding: 80px 60px;
}

.title {
    margin-bottom: 20px;
    
}

.subtitle {
    font-weight: 500;
    color: #7B8A92;
    margin-bottom: 40px;
}

.register {
    display: flex;
    gap: 50px;
}

.register__btn {
    cursor: pointer;
    padding: 13px 40px;
    border: none;
    color: #FFFFFF;
    transition: 0.5s ease;
}

.register__btn:hover {
    box-shadow: 2px 3px 5px #2A4A5C;
}

.register__btn--facebook {
    background-color: #255A9B;
}

.register__btn--facebook::before {
    /* content: url(../img//facebook.svg); */
    
}

.register__btn--linkedin {
    background-color: #0076B6;
}

